<div class="field has-addons">
	<p class="control is-expanded">
		<%= f.input :step, input_html: { class: "input", placeholder: "Directions..." } %>
	</p>
	<p class="control is-expanded">
		<%= link_to_remove_association "Remove", f, class: "button" %>
	</p>
</div>

<!-- <div class="nested-fields">
	<%= f.input :step, input_html: { class: "input" } %>
	<%= link_to_remove_association "Remove", f, class: "button is-info" %>
</div> -->