<div class="container is-fluid">
	<div class="tile is-ancestor wrap-children">

		<% @recipe.each do |recipe| %>
			<div class="tile is-parent is-4 recipe-holder">
				<article class="tile is-child box">
					<p class="title"> <%= recipe.title %> </p>
					<p class="subtitle"> <%= recipe.description %> </p>
					<%= link_to "View Recipe", recipe, class: "button is-info" %>
				</article>
			</div>
		<% end %>

	</div>
</div>
