// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe-box {
	padding: 0px !important;
}

.recipe-box .title {
	background-color: hsl(171, 100%, 41%);
	padding: 1.10rem;
	border-radius: 6px 6px 0 0;
}

.recipe-link-title {
	transition: color 0.2s ease;
	color: #fff;
}

.recipe-summary-body {
	padding-left: 1.15rem;
	padding-right: 1.15rem;
	padding-bottom: 1.15rem;
}

.recipe-description {
	padding-top: 1.10rem;
}

.recipe-directions {
	margin-left: 20px;
}

.recipe-directions li {
	margin-bottom: 5px;
}
.recipe-directions:not(:last-child) {
	margin-bottom: 0px;
}

.recipe-ingredients li {
	margin-bottom: 5px;
}
.recipe-ingredients:not(:last-child) {
	margin-bottom: 0px;
}

.recipe_ingredients_name label {
	display: none;
}
.recipe_directions_step label {
	display: none;
}

.nested-fields {
	margin-top: 10px;
}

.add-button {
	margin-top: 15px;
}

.nested-fields > .input {
	border: none;
	padding-left: 0;
	padding-right: 0;
}

.nested-fields > div > .input {
	border: none;
	padding-left: 0;
	padding-right: 0;
}

.remove-left-radii {
	border-radius: 0px 4px 4px 0px !important;
}

.remove-right-radii {
	border-radius: 4px 0px 0px 4px !important;
	border-right: none;
}

.x-button {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.add-margin-right {
	margin-right: 0.5rem;
}